
@{
    ViewBag.Title = "calculate";
}

<h2>Answer</h2>
<div>
    @ViewData["Answer"]<br />
    <form action="./Index">
        <input type="submit" value="Back" class="submit" />
    </form>
</div>

